# EditorConfig: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[{*.{yml,yaml,toml,json},.yamllint}]
indent_style = space
indent_size = 2

[*.md]
# Two trailing spaces in Markdown are a line break.
trim_trailing_whitespace = false
indent_style = space
